<mat-card class="card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Inicio de sesión</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="form" [formGroup]="form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Ej. pquintero" formControlName="username" required>
        <mat-error *ngIf="form.get('username')?.invalid && form.get('username')?.touched">
          {{ getErrorMessage('username') }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Ingrese una contraseña</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'"
              formControlName="password"/>
        <button
          matIconButton
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
          {{ getErrorMessage('password') }}
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="form.invalid">Ingresar</button>
    </form>
    <br><br>
    <hr>
    <div style="text-align: center; margin-top: 12px;">
      <span>¿No tienes una cuenta?</span>
      <button mat-button color="primary" type="button" (click)="goToRegister()">Registráte</button>
    </div>
  </mat-card-content>
</mat-card>
